.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section {
  height: 150px;
  justify-content: center;
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 15px;
  min-width: 150px;
}

.pic {
  height: 130px;
  width: 130px;
  overflow: hidden;
  border-radius: 50%;
  background: rgba(0,0,0, .5);
  flex-grow: 0;
  flex-shrink: 0;
  align-self: center;
}



@media only screen and (max-width: 600px) {
  .section {
    height: 100px;
  }

  .pic {
    height: 75px;
    width: 75px;
  }
}
