.wrapper {
  text-align: left;
}

.section {
  margin-bottom: 50px;
}

.user {
  margin-bottom: 15px;
}

.loadingContainer {
  margin: 20px auto;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.inviteForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.addInput {
  max-width: 450px;
  margin-right: 25px;
}

.buttonSpinner {
  margin-right: 5px;
}

.inviteContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
  padding: 15px;
  border: 1px solid rgba(0,0,0,.125);
  align-items: center;
}
