.wrapper {
  width: 1000px;
  margin: auto;
  text-align: left;
  max-width: 100%;
}

.section {
  margin-bottom: 50px;
}

.user {
  margin-bottom: 15px;
}

.loadingContainer {
  margin: 20px auto;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.inviteForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.addInput {
  max-width: 450px;
  margin-right: 25px;
}

.buttonSpinner {
  margin-right: 5px;
}
