.wrapper {
  text-align: left;
}

.section {
  margin-bottom: 50px;
}

.user {
  margin-bottom: 15px;
}

.loadingContainer {
  margin: 20px auto;
  width: 100%;
  text-align: center;
  display: inline-block;
}

