.wrapper {
  text-align: left;
}

.section {
  margin: 30px 0;
}

.subtext {
  font-size: 14px;
  color: rgba(0,0,0, .5);
}

.matchup {
  margin: 20px 0;
}

.loading {
  text-align: center;
}

.activities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
