.card {
  border-radius: 24px;
  border: 1px solid var(--primary-color);
  font-weight: bold;
  font-size: 14px;
  color: var(--primary-color);
  letter-spacing: -0.15px;
  padding: 13px 13px;
  margin: 15px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  align-self: center;
  padding: 0 10px;
  text-align: center;
  flex-grow: 1;
  box-sizing: border-box;
}

.closeContainer {
  border: 2px solid var(--primary-color);
  width: 22px;
  height: 22px;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close {
  width: 10px;
  height: 10px;
}

.close g {
  font-weight: 800;
}

.closeContainer:hover, .closeContainer:hover g {
  border-color: #5f42ff;
  stroke: #5f42ff;
}

@media only screen and (max-width: 480px) {
  .card {
    margin: 10px 5px;
    padding: 10px;
  }

  .name {
    padding: 0 5px;
    font-size: 12px;
  }
}
