.card {
  background: #DDF0FF;
  border-radius: 24.4px;
  font-weight: bold;
  font-size: 14px;
  color: #777777;
  letter-spacing: -0.15px;
  padding: 17px 33px;
  margin: 15px;
  position: relative;
}

.name {
  align-self: center;
  padding: 0 10px;
  text-align: center;
  flex-grow: 1;
  box-sizing: border-box;
}

.closeContainer {
  border: 2px solid var(--primary-color);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  top: -7px;
  right: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close {
  width: 10px;
  height: 10px;
}

.close g {
  font-weight: 800;
}

.closeContainer:hover, .closeContainer:hover g {
  border-color: var(--primary-dark);
  stroke: var(--primary-dark);
}
