.wrapper {
  text-align: left;
}

.purpleLine {
  background-color: var(--primary-light);
}

.title {
  font-weight: bold;
  font-size: 24px;
  color: #2E2460;
  letter-spacing: -0.25px;
  margin-bottom: 25px;
}

.about {
  margin-right: 100px;
}

.content {
  display: flex;
  flex-direction: row;
}

.section {
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 20px;
}

.form {
  flex-grow: 1;
}

.button {
  float: right;
}

.formGroup {
  margin: 10px 0;
}

.formGroup:first-child {
  margin-top: 20px;
}

.label {
  margin: 0 0 6px 0;
  font-size: 15px;
  line-height: 16px;;
}

.buttonSpinner {
  margin-right: 5px;
}

.editPic {
  width: 100%;
  color: var(--primary-color);
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .content {
    flex-direction: column;
  }

  .about {
    width: 100%;
    flex-grow: 1;
    text-align: center;
  }

  .title {
    text-align: left;
  }
}


