.wrapper {
  text-align: left;
}

.title {
  font-weight: bold;
  font-size: 24px;
  color: var(--primary-text);
  letter-spacing: -0.25px;
  margin-bottom: 25px;
}

.about {
  margin-right: 100px;
}

.content {
  display: flex;
  flex-direction: row;
}

.section {
  composes: section from '../../shared.css'
}

.sectionInner {
  composes: sectionInner from '../../shared.css'

}

.form {
  flex-grow: 1;
}

.button {
  float: right;
}

.formGroup {
  margin: 10px 0;
}

.formGroup:first-child {
  margin-top: 20px;
}

.input, .textarea  {
  composes: input from '../../shared.css';
}

.formGroup .textarea {
  height: 80px;
  resize: none;
}

.buttonSpinner {
  margin-right: 5px;
}

.editPic {
  width: 100%;
  color: var(--primary-color);
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
}

.notifyLabel {
  font-weight: bold;
  font-size: 18px;
  color: var(--primary-color);
  letter-spacing: -0.19px;
  display: inline-block;
  margin-right: 30px;
}

.formCheck {
  display: flex;
  align-items: center;
}

.checkboxContainer {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxContainer label {
  cursor: pointer;
  margin: 0;
  color: var(--primary);
  font-size: 14px;
  font-weight: bold;
}

/* Hide the browser's default checkbox */
.checkInput{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.noCheck, .checked {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 4px;
}

.noCheck:hover  {
  background-color: #ccc;
}

.checked{
  background-color: var(--primary-color);
  background-image: url('../../assets/images/check.svg');
  background-repeat: no-repeat;
  background-position: center;
}


@media only screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }

  .about {
    width: 100%;
    flex-grow: 1;
    text-align: center;
  }

  .title {
    text-align: left;
  }

  .formGroup input, .formGroup textarea {
    padding-left: 10px;
  }
}


