.wrapper {
  text-align: left;
}

.section, .companySection, .activitySection, .employeeSection {
  padding: 60px 20px;
  max-width: 900px;
  margin: 0 auto;
}

.purpleLine {
  background: var(--primary-light)
}

.whiteLine {
  background: white;
}

.companySection {
  display: flex;
  flex-direction: row;
}

.label, .companyLabel {
  font-weight: bold;
  font-size: 24px;
  color: #2E2460;
  letter-spacing: -0.25px;
}

.companyLabel {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 60px;
}

.activities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.editEmployees {
  margin-top: 40px;
}

.buttonSpinner {
  margin-right: 5px;
}

@media only screen and (max-width: 480px) {
  .companySection {
    flex-direction: column;
  }
}
