.wrapper {
  text-align: left;
  max-width: 900px;
  margin: 0 auto;
}

.activities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.timeColumn {
  margin: 10px 0;
}

.buttonSpinner {
  margin-right: 5px;
}
