.wrapper {
  text-align: left;
}

.activities {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.activityContainer {
  cursor: pointer;
}

.next {
  margin: 10px 0;
  float: right;
}
