.navBar {
  padding: 20px 63px;
  border-bottom: 1px solid var(--divider);
}

.nav {
  justify-content: flex-end
}

.logoContainer {
  padding: 0;
}

.logo {
  width: 200px;
}


.navLink {
  color: var(--primary-text) !important;
  font-weight: bold;
  padding: 0;
  font-size: 14px;
  line-height: 35px;
}

.navLink:hover {
  text-decoration: none;
}

.signUp {
  margin-right: 40px;
  font-size: 14px;
  padding: 9px 29px;
}

.login {
  margin-right: 57px;
  line-height: 41px;;
}

@media only screen and (max-width: 991px){
  .nav {
    margin-top: 30px;
  }

  .signUp {
    width: 113px;
    margin: 0 auto;
  }

  .login {
    margin-right: 0;
    margin-top: 10px;
  }

}

@media only screen and (max-width: 480px) {
  .nav {
    margin-top: 10px;
  }

  .logo {
    width: 50px;
  }

  .navBar {
    padding: 25px;
  }
}
