.container {
  position: fixed;
  background-color: #F9F9F9;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  font-size: 14px;
  letter-spacing: -0.15px;
  color: var(--primary-text);
}

.banner {
  margin: 18px 0;
  display: flex;
  justify-content: center;
}

.inner  {
  max-width: 90%;
  width: 1060px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filler {
  flex-grow: 1;
}

.reject {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.reject button {
  font-size: 13px;
  line-height: 1.2em;
  height: 34px;
  padding: 0 8px;
}

.popupWrapper {
  max-width: 90%;
  width: 1060px;
  margin: 0 auto;
}

.popup {
  max-width: 100%;;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.optionsContainerLarge {
  width: 230px;
  flex-shrink: 0;
  margin-left: 30px;
}

.optionsContainer {
  width: 55px;
  flex-shrink: 0;
  margin-left: 30px;
}

.buttonContainer button {
  font-size: 14px;
  height: 40px;
}

.info {
  flex-shrink: 1;
  flex-grow: 1;
}

.arrow {
  transform: rotate(90deg);
  display: inline-block;
}

.inlineLink {
  text-decoration: underline;
  color: var(--primary-text);
}

.settingsButton {
  text-decoration: underline;
  color: var(--primary-color);
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  padding: 0.375rem 0;
  font-size: 1rem;
  line-height: 1.5;
  margin-left: 30px;
}

.popup {
  align-items: flex-end;
}

.section {
  margin: 16px 0;
}

.label {
  font-weight: bold;
}

.line {
  border-bottom: 1px solid #CDCDCD;
}

.rejectSmall {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    font-size: 12px;
  }

  .banner {
    flex-direction: column;
  }

  .inner {
    flex-direction: column;
    max-width: 100%;
    padding: 0 20px;
    align-items: flex-start;
  }

  .inner .info {
    margin-bottom: 15px;
  }

  .container .optionsContainerLarge {
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
  }

  .popup .optionsContainerLarge {
    width: auto;
    margin-left: 0;
  }

  .filler {
    display: none;
  }

  .reject {
    display: none;
  }

  .rejectSmall {
    display: inline-block;
  }

  .settingsButton  {
    margin-left: 0;
  }
}
