.card {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 1;
}

.name {
  font-weight: bold;;
}

.detail {
  margin-left: 5px;
}

.contact {
  word-break: break-word;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
