:root {
  --bg: #F8FCFF;
  --primary-color: #7F68FF;
  --primary-dark: #2E2460;
}

#root, body, html, .App {
  height: 100%;
  width: 100%;
  background:var(--bg);
  color: var(--primary-dark);
}

h1 {
  font-size: 40px;
  color: var(--primary-dark);
}

.App {
  text-align: center;
  font-family: arial;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.content {
  margin: 0 auto;
  min-height: 100%;
  overflow-x: hidden;
}

.slideIn-enter {
  transform: translate(100%);
}
.slideIn-enter.slideIn-enter-active {
  transform: translate(0%);
  transition: transform 500ms ease-in-out;
}
.slideIn-exit {
  transform: translate(0%);
}
.slideIn-exit.slideIn-exit-active {
  transform: translate(-100%);
  transition: transform 300ms ease-in-out;
}


@media only screen and (max-width: 600px) {
}
